spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: #seu email que esta usando a senha app
    password: #sua senha do senha do app no gmail
    protocol: smtp
    properties:
      mail:
        smtp:
          socketFactory:
            port: 465
            class: javax.net.ssl.SSLSocketFactory
            fallback: false
          auth: true
          startlls:
            enable: true
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000

  thymeleaf:
    enable: true

envio:
  email:
    remetente: # email de quem vai enviar
    nomeRemetente: 'Edson Vinicius'

server:
  port: 8082